# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
!libpcap-dev/usr/lib/arm-linux-gnueabihf/libpcap.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
!libpcap-dev/usr/lib/arm-linux-gnueabihf/libpcap.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/wifibroadcast.layout
/rx
/rx_alive_test
/rx_status
/tx
